<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/carStore</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">pass</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <property name="show_sql">true</property>

        <mapping class="ru.sdroman.carsales.models.Car"/>
        <mapping class="ru.sdroman.carsales.models.Order"/>
        <mapping class="ru.sdroman.carsales.models.User"/>
        <mapping class="ru.sdroman.carsales.models.Body"/>
        <mapping class="ru.sdroman.carsales.models.DriveType"/>
        <mapping class="ru.sdroman.carsales.models.Engine"/>
        <mapping class="ru.sdroman.carsales.models.Model"/>
        <mapping class="ru.sdroman.carsales.models.Transmission"/>
        <mapping class="ru.sdroman.carsales.models.Photo"/>
    </session-factory>
</hibernate-configuration>