<web-app>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>sdroman.servlets.UserServlet</servlet-class>
       <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
</web-app>